* {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


main {
  display: grid;
  grid-template-areas:
    "sign-in settings sign-up"
    "ignored swiper saved"
    ". preloader .";
  grid-template-columns: 100vw 100vw 100vw;
  grid-gap: 1px;
  //transform: translate(-200vh, -000vw);
  transition: transform 0.3s;
  //animation: slidein 2s infinite alternate;
  > * {
    background: white;
    box-sizing: border-box;
    height: 100vh;
  }
}


/*
@keyframes slidein {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100vw, 0);
  }
}
*/

.buttons {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  > *:not(:first-child) { margin-left: 1rem; }
}

.header {
  grid-area: header;
  > button {
    position: absolute;
  }
}

h2 {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid gray;
}


#sign-in {
  grid-area: sign-in;
}

#settings {
  grid-area: settings;
}

#sign-up {
  grid-area: sign-up;
}

#ignored {
  grid-area: ignored;
}
#ignored, #saved {
  display: grid;
  grid-template-areas:
  "header"
  "content";
  grid-template-columns: 100%;
  grid-template-rows: 3rem auto;
}
#ignored-list, #saved-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  > li {
    padding: 1rem;
    border-bottom: 1px solid black;
  }
}

#swiper {
  grid-area: swiper;
}
#save-button {
  background: #00FF0080;
}
#ignore-button {
  background: #FF000080;
}

#saved {
  grid-area: saved;
}

#preloader {
  grid-area: preloader;
}


article {
  box-shadow: 0 0 5px 0 grey;
  border-radius: 1rem;
  margin: auto;
  max-width: 300px;
}
article img {
  width: 100%;
}
.article-information {
  padding: 1rem;
}
.article-title {
  margin-bottom: 0.5rem;
}
.article-content {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}




form {
  margin: 1rem;
}
form:not(.less) {
  box-shadow: 0 0 5px 0 gray;
  border-radius: 1rem;
  padding: 1rem;
}
form div {
  margin-bottom: 0.5rem;
}
input, button {
  background: white;
  font-size: 14px;
  padding: 1rem;
  border: 0;
  display: block;
  box-shadow: 0 0 3px 0 grey;
  outline: 0;
  border-radius: 100rem;
  transition: box-shadow 0.1s;
  &:hover {
    box-shadow: 0 0 3px 2px grey;
  }
}
input {
  width: 100%;
}
label {
  display: block;
  padding: 0 1rem;
}
button, input[type='submit'] {
  cursor: pointer;
}
