* {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


main {
  background: black;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "sign-in settings sign-up"
    "ignored swiper saved"
    ". preloader .";
  grid-template-columns: 100vw 100vw 100vw;
  grid-gap: 1px;
  transform: translate(-100vh, -100vw);
  transition: transform 1s;
  //animation: slidein 2s infinite alternate;
}

@keyframes slidein {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100vw, 0);
  }
}

h2 {
  font-size: 125%;
  margin-bottom: 1rem;
  text-align: center;
}

main > * {
  background: white;
  box-sizing: border-box;
  padding: 1rem;
  height: 100vh;
}

#sign-in {
  grid-area: sign-in;
}

#settings {
  grid-area: settings;
}

#sign-up {
  grid-area: sign-up;
}

#ignored {
  grid-area: ignored;
}

#swiper {
  grid-area: swiper;
}

#saved {
  grid-area: saved;
}

#preloader {
  grid-area: preloader;
}


form div {
  margin-bottom: 0.5rem;
}
input, button {
  background: white;
  font-size: 14px;
  padding: 1rem;
  border: 0;
  box-shadow: 0 0 5px 0 grey;
  border-radius: 100rem;
}
button {
  cursor: pointer;
}

#save-button {
  background: #00FF0080;
}

#ignore-button {
  background: #FF000080;
}

article {
  box-shadow: 0 0 5px 0 grey;
  border-radius: 1rem;
  margin: auto;
  max-width: 300px;
}
article img {
  width: 100%;
}
.article-information {
  padding: 1rem;
}
.article-title {
  margin-bottom: 0.5rem;
}
.article-content {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
