* {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

body {

}


#container {
  background: black;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "sign-in settings sign-up"
    "ignored swiper saved"
    ". preloader .";
  grid-template-columns: 100vw 100vw 100vw;
  grid-gap: 1px;
  animation: slidein 2s infinite alternate;
}

@keyframes slidein {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100vw, 0);
  }
}

#container > * {
  background: white;
  box-sizing: border-box;
  padding-left: 1rem;
  height: 100vh;
}

#sign-in {
  grid-area: sign-in;
}

#settings {
  grid-area: settings;
}

#sign-up {
  grid-area: sign-up;
}

#ignored {
  grid-area: ignored;
}

#swiper {
  grid-area: swiper;
}

#saved {
  grid-area: saved;
}

#preloader {
  grid-area: preloader;
}


form div {
  margin-bottom: 0.5rem;
}
input, button {
  font-size: 14px;
  padding: 1rem;
  border-radius: 100rem;
}
